<app-cabecera>  </app-cabecera>


<mat-grid-list cols="2" rows="2" style="padding:10px" rowHeight="4:3" >
  <mat-grid-tile role="listitem">
  <!-- TARJETA 1-->
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">
        <div  class="ratio img-responsive img-circle" style="background-image: url(./assets/imagenes/saladejuegos.png);"></div>
    </div>
    <a routerLink="/Juegos">
    <div class="card-body">
      <h5 class="card-title text-white ">Juegos</h5>
      
      <p class="card-text text-white">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
    </div>
    </a>   
  </div>
</mat-grid-tile>
  <!-- TARJETA 2-->
  <mat-grid-tile role="listitem">
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">
          <div  class="ratio img-responsive img-circle" style="background-image: url(./assets/imagenes/listado.jpg);"></div>
      </div>
      <a routerLink="/Juegos">
      <div class="card-body">
        <h5 class="card-title text-white ">Listado de Resultados</h5>
        
        <p class="card-text text-white">Los listados de los resultados con ordenamiento y busqueda.</p>
      </div>
      </a>   
    </div>
  </mat-grid-tile>
    <!-- TARJETA 3-->
    <mat-grid-tile role="listitem">
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">
          <div  class="ratio img-responsive img-circle" style="background-image: url(./assets/imagenes/Configuracion.png);"></div>
      </div>
      <a routerLink="/Juegos">
      <div class="card-body">
        <h5 class="card-title text-white ">Configuraci&oacute;n</h5>
        
        <p class="card-text text-white">Ajustes de la aplicacion y los métodos de autentificación</p>
      </div>
      </a>   
    </div>
  </mat-grid-tile>
    <!-- TARJETA 4-->
    <mat-grid-tile role="listitem">
  <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">
          <div  class="ratio img-responsive img-circle" style="background-image: url(./assets/imagenes/jugadores.png);"></div>
      </div>
      <a routerLink="/Juegos">
      <div class="card-body">
        <h5 class="card-title text-white ">Jugadores</h5>
        
        <p class="card-text text-white">Listado de Jugadores.</p>
      </div>
      </a>   
    </div>
  </mat-grid-tile>
</mat-grid-list>
