<div class="row" style="
padding-top: 3%; ">
  <!-- <div class="ratio "> -->
    <div class="card text-white bg-primary mb-3">
        <div class="card-header">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
    </div>
      <h1>Velocidad y agilidad aritmética </h1>
      <div class="card-body">
          <h5 class="card-title text-white ">Juego de Agilidad Mental</h5>
          <p class="card-text text-white">UTN FRA</p>
     
      <p>  <button class="button"  (click)="Juego('Agilidad')">JUGAR</button> </p>
      </div>
    </div>
  
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">
            <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
        </div>
            <h1>Piedra Papel o Tijera</h1>
      <div class="card-body">
            <div><br><br></div>
          <h5 class="card-title text-white ">Juega contra la máquina</h5>
          <p class="card-text text-white">UTN FRA</p>
      

      <p>  <button class="button"  (click)="Juego('PPT')">JUGAR</button> </p>
      </div>
    </div>

    <div class="card text-white bg-info mb-3">
        <div class="card-header">
      <img class="img-thumbnail"   src="./assets/imagenes/tateti.jpg" alt="Avatar" >
    </div>
      <h1>Tateti </h1>
      <div class="card-body">
            <div><br></div>
            <div><br></div> 
            <div><br></div> 
          <h5 class="card-title text-white ">Clasico juego de TATETI en el cual te enfrentaràs a una AI</h5>
          <p class="card-text text-white">UTN FRA</p>
    
   
      <p>  <button class="button"  (click)="Juego('Tateti')">JUGAR</button> </p>
      </div>
  </div>
  
    <div class="card text-white bg-warning mb-3">
        <div class="card-header">
      <img class="img-thumbnail"   src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
    </div>
      <h1>Adivina el número secreto </h1>
      <div class="card-body">
          <h5 class="card-title text-white ">Juego de estrategia</h5>
          <p class="card-text text-white">UTN FRA</p>
    
      <div><br></div>
      <p>  <button class="button"  (click)="Juego('AdivinaMasListado')">JUGAR</button> </p>
      </div>
    </div>

    <div class="card text-white bg-success mb-3">
        <div class="card-header">
      <img class="img-thumbnail"   src="./assets/imagenes/MayorOMenor.jpg" alt="Avatar" style="width:100%">
    </div>
      <h1>¿Mayor o Menor? </h1>
      <div class="card-body">
            <div><br></div>
            <div><br></div> 
          <h5 class="card-title text-white ">Próxima carta. ¿Mayor o Menor?</h5>
          <p class="card-text text-white">UTN FRA</p>
   
   
      <p>  <button class="button"  (click)="Juego('MayorOMenor')">JUGAR</button> </p>
      </div>
    </div>

      <div class="card text-white bg-gray mb-3">
          <div class="card-header">
        <img class="img-thumbnail"   src="./assets/imagenes/Anagrama.jpg" alt="Avatar" style="width:100%">
    </div>
        <div><br></div>
        <div><br></div> 

        <h1>Anagrama </h1>
    
        <div class="card-body">
            <h5 class="card-title text-white ">Descubra y Ordena la palabra a travès de las pistas 
            </h5>
            <p class="card-text text-white">UTN FRA</p>
        
        <div><br></div> 
        <p>  <button class="button"  (click)="Juego('Anagrama')">JUGAR</button> </p>
        </div>
      </div>


  
  <!-- </div> -->
</div>