
form {
    
    width: 100%;
    margin: 0; padding: 0;
}

.centro{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    border: 10px solid #f1f1f1;
    background: whitesmoke;
    text-align: center;
    align-items: center;
    
   
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-right: 300px;
  margin-left: 300px; 
  
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,cursive; 
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 20PX;
  position: fixed;
  z-index: 1;
  left: 20%;
  bottom: 30px;
}
#snackbar.Ganador {
  background-color: #059F2F;
}

#snackbar.Perdedor {
  background-color: #FF0000;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


