
        <nav class="panel navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/TP_LAV4_2017/">Sala de Juegos</a>
                <button class="navbar-toggler" type="button"
                    (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse"
                [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-item nav-link active" routerLink="/QuienSoy" >¿Quien Soy? <i class="fa fa-user"></i></a></li>
                    <li><a class="nav-item nav-link" routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
                    <li><a class="nav-item nav-link" routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
                </ul>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="https://github.com/lnpollola"target="_blank">En GitHub <i class="fa fa-github"></i></a>
               
                </div>
              </div>
            </nav> 

 
